.square-boop {
    animation: square-boop 500ms ease-in-out;
}

.square-transition {
    transition:
        background-color 200ms ease-in-out,
        border-color 200ms ease-in-out,
        color 200ms ease-in-out;
}

@keyframes square-boop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@media (prefers-reduced-motion: reduce) {
    .square-boop {
        animation: none;
    }

    .square-transition {
        transition: none;
    }
}
